<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cjmaier2_dkturne2.nextstop" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GyroTest"
            android:label="@string/title_activity_gyro_test"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cjmaier2_dkturne2.nextstop.MainActivity" />
        </activity>
        <activity
            android:name=".AccelTest"
            android:label="@string/title_activity_accel_test"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cjmaier2_dkturne2.nextstop.MainActivity" />
        </activity>
        <activity
            android:name=".MagTest"
            android:label="@string/title_activity_mag_test" >
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cjmaier2_dkturne2.nextstop.MainActivity" />
        </activity>
        <activity
            android:name=".LightTest"
            android:label="@string/title_activity_light_test"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cjmaier2_dkturne2.nextstop.MainActivity" />
        </activity>
        <activity
            android:name=".WiFiTest"
            android:label="@string/title_activity_wifi_test"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cjmaier2_dkturne2.nextstop.MainActivity" />
        </activity>
        <activity
            android:name=".Logger"
            android:label="@string/title_activity_logger"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cjmaier2_dkturne2.nextstop.MainActivity" />
        </activity>
        <activity
            android:name=".DropboxSetup"
            android:label="@string/title_activity_dropbox_setup"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cjmaier2_dkturne2.nextstop.MainActivity" />
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-ff31c20j0ebfp8q" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StepCount"
            android:label="Trajectory Calculator"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cjmaier2_dkturne2.nextstop.MainActivity" />
        </activity>
        <activity
            android:name=".MicTest"
            android:label="@string/title_activity_mic_test"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cjmaier2_dkturne2.nextstop.MainActivity" />
        </activity>
        <activity
            android:name=".StopTracker"
            android:label="@string/title_activity_stop_tracker"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cjmaier2_dkturne2.nextstop.MainActivity" />
        </activity>
        <activity
            android:name=".DedReck"
            android:label="@string/title_activity_ded_reck"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cjmaier2_dkturne2.nextstop.MainActivity" />
        </activity>
    </application>

</manifest>
